<!--<div>-->

<!--<h1>{{title}}</h1>-->
<!--<ul *ngFor="let fruit of fruits">-->
<!--  <li>{{fruit}}</li>-->
<!--</ul>-->

<!--</div>-->
<app-pokemons></app-pokemons>
<app-generations></app-generations>
<h2>Fruits (origin):</h2>
<table>
  <thead>
  <tr>
    <th>name</th>
    <th>price (€)</th>
    <th>origin</th>
    <th>flag</th>
  </tr>
  </thead>
  <tbody *ngFor="let fruit of fruits" [ngSwitch]="fruit.origin">
  <tr>
    <td>{{fruit.name}}</td>
    <td>{{fruit.price}}</td>
    <td>{{fruit.origin}}</td>
    <td *ngSwitchCase="'FRANCE'">
      <img src="https://img.icons8.com/color/48/000000/france-circular.png"/>
    </td>
    <td *ngSwitchCase="'SPAIN'">
      <img src="https://img.icons8.com/color/48/000000/spain-circular.png"/>
    </td>
    <td *ngSwitchCase="'BELGIUM'">
      <img src="https://img.icons8.com/color/48/000000/belgium-circular.png"/>
    </td>
    <td *ngSwitchDefault>N/A</td>
  </tr>
  </tbody>
</table>

